/* Select the image with a class of kitty-1 */
.kitty-1 {
  position: absolute;
  top: 50px;
  left: 50px;
}

/* Select the image with an id of kitty-2 */
#kitty-2 {
  position: absolute;
  top: 150px;
  left: 150px;
}

/* Select the image inside the element with an id of basket (via descendent relationship) */
#basket img {
  position: absolute;
  top: 250px;
  left: 250px;
}

/* Select the image based on the respective sibling element (General sibling selector) */
#ball + img {
  position: absolute;
  top: 350px;
  left: 350px;
}

/* Select the image that has an alt attribute value matching "Kitty 5", via the attribute selector */
img[alt="Kitty 5"] {
  position: absolute;
  top: 450px;
  left: 450px;
}
img[alt="kitty 5"]
{
  z-index: 3;
  position: absolute;
  top: 217px;
  left: 223px;
}